<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!-- Sidebar  -->
<nav id="sidebar">
    <div th:replace="~{/fragments/sidebar_header :: div.sidebar-header}"></div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="/app/user/dashboard"><i class="fa fa-fw fa-globe"></i>Trang chủ</a>
        </li>
        <li>
            <a href="#pageManage" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-fw fa-bar-chart"></i>Quản lý</a>
            <ul class="collapse list-unstyled" id="pageManage">
                <li>
                    <a href="#">Tổng tiền nhà</a>
                </li>
                <li>
                    <a href="#">Tổng tiền điện</a>
                </li>
                <li>
                    <a href="#">Danh sách phòng trọ</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Thêm tiền trọ hàng tháng</a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-fw fa-bar-chart"></i>Biểu đồ so sánh</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Tổng tiền trọ</a>
                </li>
                <li>
                    <a href="#">Tổng tiền điện</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/app/comments"><i class="fa fa-fw fa-comment-o"></i>Phản hồi/Đóng góp</a>
        </li>
        <li>
            <a><i class="fa fa-fw fa-wrench"></i>Thiết định</a>
        </li>
    </ul>

    <!--        <ul class="list-unstyled CTAs">-->
    <!--            <li>-->
    <!--                <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>-->
    <!--            </li>-->
    <!--            <li>-->
    <!--                <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>-->
    <!--            </li>-->
    <!--        </ul>-->
</nav>
</body>
</html>