<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div th:replace="~{/fragments/sidebar_header :: div.sidebar-header}"></div>

        <ul class="list-unstyled components sticky-top">
            <li class="active">
                <a href="/app/client/dashboard"><i class="fa fa-fw fa-globe"></i>Trang chủ</a>
            </li>
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-fw fa-search"></i>Tra cứu</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="/app/client/total">Tổng tiền trọ hàng tháng</a>
                    </li>
                    <li>
                        <a href="/app/client/electricPrice">Tổng tiền điện hàng tháng</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-fw fa-bar-chart"></i>Biểu đồ so sánh</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="/app/client/totalPriceChart">Tổng tiền trọ hàng tháng</a>
                    </li>
                    <li>
                        <a href="/app/client/totalElectricPriceChart">Tổng tiền điện hàng tháng</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/app/comments"><i class="fa fa-fw fa-comment-o"></i>Phản hồi/Đóng góp</a>
            </li>
            <li>
                <a href="/app/client/contact"><i class="fa fa-fw fa-envelope"></i>Liên hệ</a>
            </li>
            <li>
                <a><i class="fa fa-fw fa-wrench"></i>Thiết định</a>
            </li>
            <li>
                <a href="/app/client/infor"><i class="fa fa-fw fa-user"></i>Thông tin phòng trọ</a>
            </li>
        </ul>
    </nav>
</body>
</html>